<! DOCTYPE html>
{% load static %}

<head>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Am I Up?</title>

<!-- Bootstrap core CSS -->
<link href="{% static "bootstrap-3.3.4-dist/css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="{% static "bootstrap-3.3.4-dist/js/jquery.js" %}"></script>
<script src="{% static "css/bootstrap-formhelpers.min.js" %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<script src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>
</head>
<!-- Header -->
<body>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="container">
	<br/>
{% block content %}
{% endblock %}
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<!-- Footer -->
<footer class="standard-footer">
	<div class="row">
		<div class="col-sm-6 pull-left" id="nav_menu_sum_box">
		</div>
	</div>
</footer>

<!-- jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>

